<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WU Store</title>
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script src="script/module.js"></script>
		<script src="script/myController.js"></script>
		<script src="script/directives/star-directive.js"></script>
		<script src="script/filters/customFilter.js"></script>
		<script src="dist/js/bootstrap.min.js"></script>
		<link href="dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" />
	</head>
	<body ng-app="myApp" ng-controller="MyController">
		<!-- Modal -->
		<div id="myCart" class="modal fade" role="dialog" ng-show="itemAdded.length > 0">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">My Cart {{itemAdded.length}}</h4>
					</div>
					<div class="modal-body">
						<div ng-repeat="abc in itemAdded  track by $index">
							<p>{{abc.name}}</p>
							<img ng-src="{{abc.img}}" width="50" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="logoWrap">
						<a href="#"><img src="images/logo.png"/></a>
					</div>
					<div class="btn pull-right clearfix" data-toggle="modal" ng-disabled="" data-target="#myCart">Cart</div>
					<div class="btn pull-right clearfix">Sign In</div>
				</div>
			</nav>
		</header>
		<section class="outerPanel">
			<div class="container">
				<div class="row outerWrapper">
					<div class="col-md-12">
						<h1>{{products.family}}</h1>
						<h4>Total Products: {{productLength}}</h4>
						<ul class="productList">
							<li ng-repeat="item in products.productList" class="clearfix">
								<div class="prodImg"><img ng-model="item.img" ng-src="{{item.img}}" /></div>
								<a href="javascript:void(0)" class="productTitle" ng-model="item.name">{{item.name | limitCharItemName}}</a>
								<p class="productPrice" ng-model="item.price"> {{item.price | roundedNumber | currency : '₹ ' : 0}}</p>
								<star-directive></star-directive>
								<div class="btnWrap">
									<button type="button" ng-click="addToCart(item)" class="btn addCart">Add to Cart</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section> 
	</body>
</html>